@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');

body {
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}



#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: white;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded .gooey {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.gooey {
    z-index: 2000;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: white;
    filter: contrast(20)
}

.dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

#loaditem {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
}

@keyframes dot {
    50% {
        transform: translateX(96px)
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px)
    }
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(30px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(.9);
    }

    20% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(.9);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(.9);
    }

    100% {
        transform: scale(.9);
    }
}

#heart {
    color: darkred !important;
    font-size: 18px;
    animation: heartbeat 1s infinite;
}

#myname {
    color: white;
    font-weight: 400;
}

#myname>a {
    text-decoration: none;
    color: inherit;
}


#redbg {
    height: 100vh;
    margin: 0;
    padding: 0px 40px 0 40px;
    position: relative;
    z-index: 0;
}

#nicered {
    background-color: #F4364C;
    height: 100vh;
    width: 100vw;
    margin: 0;
    margin: 0px -40px 0 -40px;
    z-index: -10;
    position: absolute;
}

#aboutussection {
    background-color: #F6F7F9;
    height: 100vh;
    margin: 0;
    padding: 0px 40px 0 40px;
    position: relative;
    overflow: hidden;
    z-index: -20;
}

#members {
    background-color: #fff;
    margin: 0;
    padding: 0px 40px 0 40px;
}

.doctor {
    width: 800px;
    position: absolute;
    bottom: 0;
    right: 60px;
    z-index: -1;
    animation: appear 3s 1 3s ease;
}

.logo {
    width: 100px;
}

.navbar {
    line-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    margin-top: 20px;
    width: 100px;
    height: 100px;

}

/* .options {
    display: flex;
    justify-content: space-around;
    width: 400px;
    font-size: 17px;
    font-weight: 300;
    color: white;
    height: 40px;
    flex-wrap: wrap;

} */

.registerbtn {
    height: 40px;
    width: 140px;
    border-radius: 100px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #F4364C;
    background: white;
}

#lh1 {
    margin: 0;
    margin-left: 100px;
    font-size: 43px;
    font-weight: 500;


}

#lh2 {
    margin: 0;
    margin-top: 30px;
    margin-left: 100px;
    font-size: 25px;
    font-weight: 400;
}

#lh3 {
    margin: 0;
    margin-top: 60px;
    margin-left: 100px;
    font-size: 18px;
    letter-spacing: 0.6px;
    font-weight: 300;
    line-height: 30px;
}

.contentregisterbtn {
    margin: 0;
    margin-top: 10px;
    margin-left: 100px;
    height: 40px;
    width: 140px;
    border-radius: 100px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #F4364C;
    background: white;

}

#landingcontent {
    margin-top: 80px;
    z-index: 10;
    color: white;
}

#auh {
    font-size: 28px;
    margin: 0;
    padding-top: 60px;
    margin-left: 30px;
    letter-spacing: 0.3px;
    font-weight: 500;
    color: #494949;
}

#auc {
    width: 85%;
    font-size: 18px;
    margin: 0;
    padding-top: 30px;
    margin-left: 30px;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: #494949;
    line-height: 27px;
}


#auh:after {
    content: "";
    display: block;
    /* margin: auto; */
    width: 7%;
    padding-top: 6px;
    border-bottom: 4px solid #FF5669;
}

hr {
    margin: 0px -40px 0 -40px;
    border: 1px solid #ECECEE;
}


.mv {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;

}

.micon {

    margin: 0;
    width: 28px;
    margin-right: 10px;
}

.mission {
    width: 35%;
}


#mh {
    vertical-align: top;
    font-size: 28px;
    margin: 0;
    margin-left: 30px;
    letter-spacing: 0.3px;
    font-weight: 500;
    color: #494949;
}

#mc {
    font-size: 18px;
    margin: 0;
    margin-top: 14px;
    margin-left: 30px;
    letter-spacing: 0.6px;
    font-weight: 400;
    color: #494949;
    line-height: 27px;
}





.vicon {
    margin: 0;
    width: 28px;
    margin-right: 10px;
}

.vision {

    width: 35%;
}


#vh {
    vertical-align: top;
    font-size: 28px;
    margin: 0;
    margin-left: -120px;
    margin-right: 120px;
    letter-spacing: 0.3px;
    font-weight: 500;
    color: #494949;
}

#vc {
    font-size: 18px;
    margin: 0;
    margin-left: -120px;
    margin-top: 14px;
    margin-right: 120px;
    letter-spacing: 0.6px;
    font-weight: 400;
    color: #494949;
    line-height: 27px;
}

.comh {
    font-size: 33px;
    margin: 0;
    padding-top: 45px;
    margin-left: 30px;
    letter-spacing: 0.3px;
    font-weight: 500;
    color: #494949;
    text-align: center;
}

.comh:after {
    content: "";
    display: block;
    /* margin: auto; */
    width: 7%;
    padding-top: 6px;
    border-bottom: 4px solid #FF5669;
    margin-left: auto;
    margin-right: auto;
}

.membercontainer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#imgbox {
    width: 200px;
    height: 180px;
    background: #EFEFEF;
}

#member1,
#member2,
#member3,
#member4,
#member5,
#member6,
#member7,
#member8,
#member9,
#member10 {
    width: 200px;
    padding: 20px;
}



#name {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #494949;
}

#post {
    margin-top: -19px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #494949;
}

#desc {
    margin-top: -13px;
    font-weight: 300;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #494949;
}

#kh {
    font-size: 28px;
    margin: 0;
    padding-top: 60px;
    margin-left: 60px;
    letter-spacing: 0.3px;
    font-weight: 500;
    color: #494949;
}

#kc {
    width: 45%;
    font-size: 18px;
    margin: 0;
    margin-left: 30px;
    margin-right: 80px;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: #494949;
    line-height: 27px;
}

#kc>img {
    margin-top: 40px;
    width: 100%;
}


#kh:after {
    content: "";
    display: block;
    /* margin: auto; */
    width: 7%;
    padding-top: 6px;
    border-bottom: 4px solid #FF5669;
}

#kmc {
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.abtkmc {
    position: relative;
}


.pattern1 {
    position: absolute;
    width: 500px;
    right: 0;
    top: 0;
    z-index: -1;

}

#footerbg {
    margin-top: 150px;
    background: #262727;
    height: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#copyright,
#devtag {
    color: #676767;
    font-weight: 300;
    font-size: 12px;
}

#devtag {
    height: 40px;
    line-height: 40px;
    letter-spacing: 0.4px;

}

#copyright {
    margin-top: 0;
    font-size: 11px;
    letter-spacing: 0.4px;
}


#smlogos img {
    margin: 10px 10px 0 10px;
    width: 25px;
}

.container {
    width: 400px;
    /* margin: 0 auto; */
}

ul li {
    display: inline;
    text-align: center;
}

li>a {
    display: inline-block;
    width: 29%;
    margin: 0;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: white;
}

.events:hover~#navhr {
    opacity: 1;
    width: 10%;
    margin-left: 9.5%;
}

.itinerary:hover~#navhr {
    opacity: 1;
    width: 13%;
    margin-left: 38%;
}

.gallery:hover~#navhr {
    opacity: 1;
    width: 12%;
    margin-left: 69%;
}

#navhr {
    height: .20rem;
    width: 0%;
    opacity: 0;
    margin: 0;
    margin-left: 38%;
    background: white;
    border: none;
    transition: .3s ease-in-out;
}

button {
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    filter: drop-shadow(0px 8px 7px #CC1D36);
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}


.line-1 {
    padding-right: 0px;
    position: relative;
    top: 50%;
    width: 8.87em;
    border-right: 2px solid rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 2s steps(24) 4.5s 1 normal both,
        blinkTextCursor 500ms steps(34) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 8.87em;
        padding-right: 5px;
    }
}

@keyframes typewriterback {
    from {
        width: 8.87em;
        padding-right: 5px;

    }

    to {
        width: 0;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

.sh {
    font-size: 27px;
    margin: 0;
    padding-top: 45px;
    margin-left: 30px;
    letter-spacing: 0.6px;
    font-weight: 400;
    color: #494949;
    text-align: center;
}

.sponsorlogos {
    margin: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#gemx {
    width: 200px;
}

.sponsors hr {
    width: 100vw;
    margin: 0;
}